@font-face {
  font-family: 'TTLakesRegular';
  src: url(a0bf8bd54132d614be5d.ttf) format('truetype');
  font-weight: normal;
}

@font-face {
  font-family: 'TTLakesMedium';
  src: url(1db5f8df31efefe6bea1.ttf) format('truetype');
  font-weight: 300;
}


@font-face {
  font-family: 'TTLakesBold';
  src: url(8747246cd48097156cbb.ttf) format('truetype');
  font-weight: 600;
}

.header {
  position: fixed;
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  background-color: white;
}

.icon {
  width: 20px;
}

.button-circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #FF3E79;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.3s ease 0s;
  &:hover {
    transform: scale(1.1);
    box-shadow: 3px 11px 21px 2px rgba(92, 5, 32, 0.2);
  }
  &.button-circle_cancel {
    background-image: url(8dc302b111fa8bbe23ab.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
  }
  &.button-circle_burger {
    background-image: url(296a48b63d631ad87fcf.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
  }
  &.button-circle_phone {
    background-image: url(d5d0535fef222cf0362f.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
  }
  &.button-circle_message {
    background-image: url(166982869dede729a84b.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
  }
  &.button-circle_profile {
    background-image: url(b0603d44e68c18683d73.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
  }
  &.button-circle_tools {
    background-image: url(95475a2b8e30e6b975ac.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
  }
  &.button-circle_checkstatus {
    background-image: url(f616431bb425ecd337e6.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 8px;
  }
  &.button-circle_search {
    background-image: url(abe0a563efd47ebd447f.png);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 10px 10px;
  }
}

.logo {
  & img {
    width: 96.5px;
  }
}

.before-tool {
  width: 2px;
  height: 32px;
  background: almost-white;
  border-radius: 1px;
  &.first {
    display: none;
  }
  &.third {
    display: none;
  }
}

.main {
  position: relative;
  top: 88px;
  left: 0;
  background: almost-grey;
  height: 100%;
  width: 100%;
  padding-top: 24px;
  padding-bottom: 40px;
}
.main__container {
  padding: 0 16px;
}
.main__title {
  font-family: 'TTLakesBold';
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: black;
  &::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 4px;
    left: 0px;
    top: 24px;
    border-radius: 0px 10px 10px 0;
    background: #41F6D7;
  }
}
.main__function {
  display: none;
}
.nav-list ul {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 16px;
  overflow-y: hidden;
  flex-wrap: nowrap;
  justify-content: space-between;
  &::-webkit-scrollbar {
    display: none;
  }
  & .nav-list__item {
    display: block;
    padding: 6px 14px;
    white-space: nowrap;
    font-family: 'TTLakesMedium';
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: grey;
    border: 3px solid transparent;
    border-radius: 6px;
    transition: all 0.3s ease 0s;
    cursor: pointer;
    &:hover {
      border: 2px solid #B8FFEC;
      border-radius: 6px;
    }
  }
}

.info {
  padding: 0 16px;
  margin-top: 24px;
}

.info__text {
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: black;
}
.info__more-text {
  display: inline;
}

.hidden {
  display: none;
}
.open-button {
  margin-top: 16px;
  display: flex;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
}

.close-button {
  margin-top: 16px;
  display: flex;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
}

.show-button {
  margin-top: 16px;
  display: flex;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
}

.hide-button {
  margin-top: 16px;
  display: flex;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
}

.dropdown-icon {
  position: relative;
  top: 6px;
  right: 16px;
  width: 8px;
  margin-left: 24px;
}

.main__image {
  margin-top: 16px;
  & img {
    width: 100%;
  }
}

.main__subtitle {
  font-family: 'TTLakesRegular';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  text-transform: uppercase;
  margin-top: 16px;
  padding: 16px;
  color: grey;
  background: linear-gradient(270deg, light-grey 0%, white 98.61%);
  border-radius: 5px;
}

.main__text {
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.2px;
  color: black;
}
.main__get-offer {
  display: block;
  margin-top: 16px;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
  & .dropdown-pink {
    width: 6px;
    position: relative;
    top: 8px;
    left: 4px;
  }
}

body.scroll-lock {
  overflow-y: hidden;
  & .main,
  & .header,
  & .footer {
    filter: grayscale(87%) blur(6px) opacity(49%);
    -webkit-filter: grayscale(87%) blur(6px) opacity(49%);
    -moz-filter: grayscale(87%) blur(6px) opacity(49%);
    transition: 0.3s ease-in-out;
  }
}

.menu__header {
  z-index: 11;
  top: 0;
  left: 0;
  width: 100%;
  height: 88px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  position: relative;
  gap: 16px;
}

.menu__logo {
  margin-right: 64px;
}

.menu__flex-box {
  min-height: 80%;
  display: flex;
  flex-direction: column;
}

.menu__container {
  margin-top: 4px;
  flex: 1 1 auto;
}

.menu__list li {
  position: relative;
  margin-top: 24px;
  &:first-child {
    margin: 0;
  }
  &::before {
    content: '';
    transition: all 0.3s ease 0s;
    position: absolute;
    height: 32px;
    width: 4px;
    left: -24px;
    top: -4px;
    border-radius: 0px 10px 10px 0;
    background: #41F6D7;
    transform: translateX(-4px);
  }
  &:hover {
    & .menu__link {
      color: grey;
      transition: all 0.3s ease 0s;
    }
    &::before {
      transform: translateX(0);
    }
  }
}
.menu__list .menu__link {
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: black;
}

.menu__function {
  margin-top: 32px;
  display: flex;
  gap: 16px;
}


.menu__mail {
  display: block;
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  margin-top: 16px;
  color: black;
}

.menu__number {
  display: block;
  font-family: 'TTLakesBold';
  margin-top: 12px;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: -0.6px;
  color: black;
}

.menu__chose-lang {
  display: flex;
  & input {
    opacity: 0;
  }
  & label {
    font-family: 'TTLakesMedium';
    margin: 8px 7px 0 0;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: -0.2px;
    color: black;
    transition: all 0.3s ease 0s;
    cursor: pointer;
  }
  & label:has(input:checked) {
    color: #7E7E82;
  }
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  z-index: 12;
  height: 100%;
  width: 100%;
  background-color: white;
  padding: 24px 16px 0 16px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease 0s;
  &.active {
    opacity: 1;
    transform: translateX(0);
  }
  &.menu {
    left: 0;
    padding: 0 16px;
    transform: translateX(-100%);
    &.active {
      transform: translateX(0);
    }
  }
}

.modal-title {
  margin-top: 40px;
  font-family: 'TTLakesBold';
  font-size: 28px;
  line-height: 40px;
  letter-spacing: -0.6px;
  color: black;
  &::before {
    content: '';
    position: absolute;
    height: 40px;
    width: 4px;
    left: 0px;
    top: 104px;
    border-radius: 0px 10px 10px 0;
    background: #41F6D7;
  }
}

.modal-input {
  margin-top: 24px;
  padding: 12px 16px;
  background: white;
  border: 2px solid almost-white;
  border-radius: 8px;

  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;
  color: another-grey;
  &:hover {
    border: 2px solid #FF3E79;
  }
}

.modal-feedback {
  & .modal-input {
    margin-top: 16px;
  }
}

.modal-text {
  margin-top: 16px;
  font-family: 'TTLakesMedium';
  font-size: 14px;
  line-height: 16px;
  color: grey;
  & span {
    color: #FF3E79;
  }
}

.modal-feedback__message {
  &.modal-input textarea {
    width: 100%;
    height: 80px;
    resize: none;
  }
}

.modal-box {
  display: flex;
  justify-content: end;
}

.modal-button {
  margin-top: 18px;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
}
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
:focus,
:active {
  outline: none;
}
a:focus,
a:active {
  outline: none;
}
nav,
footer,
header,
aside {
  display: block;
}
html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}
input,
button,
textarea {
  font-family: inherit;
}
input::-ms-clear {
  display: none;
}
button {
  cursor: pointer;
}
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}
a,
a:visited {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}
ul li {
  list-style: none;
}
img {
  vertical-align: top;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: 400;
}

html {
  overflow-x: hidden;
}

body {
  overflow: overlay;
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 1vw;
  background-color: transparent;
}

body::-webkit-scrollbar-track {
  border-radius: 100vw;
  margin: 0.5vh 0;
  box-shadow: inset 0 0 10vw #00000026;
}

body::-webkit-scrollbar-thumb {
  background-color: #0000003b;
  border-radius: 100vw;
  box-shadow: inset 0 0 0.4vw #8b8b8b5a;
}

body::-webkit-scrollbar-thumb:hover {
  background-color: #00000070;
}

.wrapper {
  margin: 0 auto;
  max-width: 1440px;
  min-height: 100%;
}

body {
  height: 100%;
  overflow-x: hidden;
}

.slider {
  margin-top: 16px;
}

.slider-logo .slider__slide {
  height: 72px;
  width: 224px;
  background: white;
  border: 1px solid white;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 16px;
  &.hide {
    display: flex;
  }
}

.slider-type .slider__slide {
  height: 160px;
  width: 240px;
  border-radius: 6px;
  background: white;
  border: 1px solid white;
  display: flex;
  align-items: start;
  justify-content: space-between;
  padding: 16px;
}

.slider-price .slider__slide {
  height: 200px;
  width: 260px;
  border-radius: 6px;
  background: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 16px;
  font-family: 'TTLakesRegular';
  font-size: 14px;
  line-height: 18px;
  letter-spacing: 0.2px;
  color: black;
  & .grey-subtitle {
    color: grey;
    mix-blend-mode: normal;
    opacity: 0.72;
  }
}

.slider__image p {
  font-family: 'TTLakesMedium';
  font-size: 16px;
  line-height: 24px;
  letter-spacing: -0.2px;

  color: black;
}

.lenovo-logo {
  height: 32px;
}

.samsung-logo {
  height: 38px;
}

.apple-logo {
  height: 44px;
}

.bosch-logo {
  height: 29px;
}

.hp-logo {
  height: 52px;
}

.acer-logo {
  height: 24px;
}

.viewsonic-logo {
  height: 21px;
}

.sony-logo {
  height: 26px;
}

.slider__button {
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 25px;
  border: 2px solid #FF3E79;
  background-color: white;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    border-width: 0 2px 2px 0;
    border-style: solid;
    border-color: #FF3E79;
    border-radius: 2px;
    padding: 4px;
    transform: translate(-75%, -50%) rotate(-45deg);
  }
}

.long-button {
  height: 32px;
  width: 119px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: start;
  background-color: #FF3E79;
  font-family: 'TTLakesBold';
  font-size: 12px;
  line-height: 24px;
  letter-spacing: -0.15px;
  text-transform: uppercase;
  color: white;
  padding: 0 12px;
  transition: all 0.3s ease 0s;
  position: relative;
  &::after {
    content: '';
    position: absolute;
    top: 50%;
    right: 12px;
    border-width: 0 2.5px 2.5px 0;
    border-style: solid;
    border-color: white;
    border-radius: 2px;
    padding: 3px;
    transform: translate(-75%, -50%) rotate(-45deg);
  }
  &:hover {
    transform: scale(1.1);
    box-shadow: 3px 11px 21px 2px rgba(92, 5, 32, 0.2);
  }
}

.slider__flex-container {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.slider-type .slider__button {
  align-self: flex-end;
}

.swiper-pagination {
  display: block;
  position: relative;
  margin-top: 22px;
}

.swiper-pagination-bullet {
  height: 12px;
  width: 12px;
  background: another-grey;
}

.hidden {
  display: none;
}

.slider-logo__open-button {
  display: none;
}
.slider-type__open-button {
  display: none;
}

.footer {
  position: relative;
  top: 76px;
  left: 0;
  padding: 16px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer__text {
  margin-top: 16px;
  font-family: 'TTLakesMedium';
  font-size: 14px;
  line-height: 16px;
  color: grey;
  mix-blend-mode: normal;
  opacity: 0.72;
}
@media (min-width: 360px) {
  .header__profile-button {
    display: block;
  }
}

@media (min-width: 400px) {
  .before-tool.second {
    margin-right: 40px;
  }
}

@media (min-width: 440px) {
  .header__message-button {
    display: block;
  }
  .before-tool.second {
    margin-right: 60px;
  }
}

@media (min-width: 480px) {
  .header__phone-button {
    display: block;
  }
  .before-tool.first {
    display: block;
  }
  .before-tool.third {
    display: block;
  }
  .before-tool.second {
    display: none;
  }
  .header__logo {
    margin-right: 40px;
  }
}

@media (min-width: 550px) {
  .header__logo {
    margin-right: 100px;
  }
}

@media (min-width: 650px) {
  .header__logo {
    margin-right: 200px;
  }
}

@media (min-width: 768px) {
  .before-tool.second {
    display: none;
  }
  .before-tool.first {
    display: block;
  }
  .header__logo {
    margin-right: 236px;
  }
  .header__phone-button {
    display: block;
  }

  .header__message-button {
    display: block;
  }

  .header__profile-button {
    display: block;
  }
}

@media (min-width: 1000px) {
  .header {
    display: none;
  }
}

@media (min-width: 768px) {
  .main__container {
    padding: 0 24px;
  }
  .main__flex-box {
    padding: 0 24px;
    display: flex;
    gap: 30px;
  }
  .info {
    padding: 0;
    flex: 0 1 50%;
  }
  .main__image {
    flex: 0 0 50%;
    & img {
      border-radius: 5px;
    }
  }
  .main__text {
    margin-top: 24px;
  }
}

@media (min-width: 1000px) {
  .main {
    left: 320px;
    max-width: calc(100vw - 320px);
    top: 0;
    max-height: 100%;
  }
  .main__container .main__flex-box {
    padding: 0;
    display: flex;
    justify-content: space-between;
    & label {
      font-family: 'TTLakesMedium';
      font-size: 16px;
      line-height: 24px;
      text-align: right;
      letter-spacing: -0.2px;
      color: black;
      margin-left: 24px;
    }
  }
  .main__function {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}

@media (min-width: 1350px) {
  .main__container {
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .main {
    left: 320px;
    max-width: 1120px;
    top: 0;
    max-height: 100%;
  }
}

@media (min-width: 360px) {
  .modal {
    padding: 24px 24px 0 24px;
    width: 320px;
    &.menu {
      padding: 0 24px;
    }
  }
}

@media (min-width: 1000px) {
  .menu.modal {
    position: fixed;
    top: 0;
    left: 0;
    overflow-x: hidden;
    opacity: 1;
    transform: translateX(0);
    box-shadow: 0px 46px 46px 0px rgba(34, 60, 80, 0.2);
  }
  .menu__cancel-button {
    display: none;
  }
  .modal-feedback__cancel-button {
    position: absolute;
    top: 32;
    left: -56px;
  }
  .modal-call__cancel-button {
    position: absolute;
    top: 32;
    left: -56px;
  }
}

@media (min-width: 1440px) {
  .menu.modal {
    left: calc(50vw - 720px);
  }
  .modal-feedback {
    width: 440px;
    left: calc(50vw + 720px - 440px);
  }
  .modal-call {
    width: 440px;
    left: calc(50vw + 720px - 440px);
  }
}

@media (prefers-color-scheme: dark) {
  body {
    background-color: #100a0f;
  }
  .main {
    background-color: #100a0f;
  }
  .main__title {
    color: #fdfcfd;
  }
  .open-button,
  .close-button {
    background: #100a0f;
    color: #7e7e82;
  }
  .main__subtitle {
    color: #fdfcfd;
    background: #4f304a;
  }
  .main__text,
  .main__get-offer,
  .info__text,
  .main__title {
    color: #fdfcfd;
  }
  .nav-list ul {
    .nav-list__item {
      color: #b5b6bc;
      &:hover {
        border: 3px solid #701c35;
      }
    }
  }
  .header {
    background-color: #20131e;
  }
  .slider-logo .slider__slide {
    & .slider__button {
      background: #20131e;
    }
    background: #20131e;
    border: 1px solid #180f17;
  }
  .slider-type .slider__slide {
    & .slider__image p {
      color: #fdfcfd;
    }
    & .slider__button {
      background: #20131e;
    }
    background: #20131e;
    border: 1px solid #180f17;
  }
  .slider-price .slider__slide {
    color: #fdfcfd;
    background: #20131e;
    border: 1px solid #180f17;
  }
  .menu__header {
    background: #20131e;
  }
  .menu__list .menu__link {
    color: #fdfcfd;
  }
  .modal {
    background: #20131e;
  }
  .menu__mail,
  .menu__number,
  .menu__chose-lang label {
    color: #fdfcfd;
  }
  .main__container .main__flex-box label {
    color: #fdfcfd;
  }
  .modal-title {
    color: #fdfcfd;
  }
  .modal-input {
    background: #5f3a59;
    border: 2px solid #4b2e46;
    color: #fdfcfd;
    & input,
    textarea {
      background: #5f3a59;
      color: #fdfcfd;
    }
  }
  .before-tool,
  .slider-price .slider__slide::after {
    background: #5f3a59;
    border-bottom: 1px solid #5f3a59;
  }
  .swiper-pagination-bullet {
    background: #5f3a59;
  }
  .menu.modal {
    box-shadow: 0px 46px 46px 0px #5f3a5926;
  }
}

@media (min-width: 768px) {
  .swiper-pagination {
    display: none;
  }
  .swiper-container {
    display: flex;
  }
  .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 24px;
  }

  .slider-logo .slider__slide.hide {
    display: none;
  }
  .slider-logo__open-button {
    display: flex;
  }

  .slider-type .slider__slide.hide {
    display: none;
  }
  .slider-type .slider__slide {
    width: 224px;
  }
  .slider-type__open-button {
    display: flex;
  }

  .slider-price .swiper-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    gap: 0;
    overflow: hidden;
    border-radius: 6px;
  }
  .slider-price .slider__slide {
    height: 64px;
    width: 100%;
    background: white;
    padding: 24px 16px;
    border-radius: 0px;
    display: flex;
    flex-direction: row;
    gap: 24px;
    & .grey-subtitle {
      display: none;
    }
    & .slider__service {
      display: flex;
      align-items: center;
      flex: 3;
    }
    & .slider__price {
      display: flex;
      align-items: center;
      flex: 1;
    }
    &:first-child::after {
      display: none;
    }
    &::after {
      content: '';
      width: calc(100% - 32px);
      height: 1px;
      border-bottom: 1px solid almost-white;
      position: absolute;
      top: 0;
      left: 16px;
    }
    .slider__flex-container {
      display: flex;
      align-items: center;
      justify-content: space-between;
      flex: 2.5;
      & .slider__time {
        display: flex;
        align-items: center;
      }
    }
  }
  .hidden {
    display: none;
  }
}

@media (min-width: 1000px) {
  .swiper-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 24px;
  }
}

@media (min-width: 1350px) {
  .swiper-wrapper {
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: left;
  }
  .slider-type .slider__slide.hide.show {
    display: flex;
  }
  .slider-logo .slider__slide.hide.show {
    display: flex;
  }
}

@media (min-width: 1440px) {
  .swiper-wrapper {
    gap: 32px;
  }
  .slider-logo .slider__slide {
    width: 240px;
  }
  .slider-type .slider__slide {
    width: 240px;
  }
}

@media (min-width: 768px) {
  .footer {
    padding: 32px 24px;
    text-align: start;
    flex-direction: row;
    gap: 20px;
  }
  .footer__text-center {
    text-align: center;
  }
  .footer__text-end {
    text-align: end;
  }
  .footer__text {
    margin-top: 0;
    flex: 1;
  }
}

@media (min-width: 1000px) {
  .footer {
    left: 320px;
    max-width: calc(100vw - 320px);
    top: 0;
    max-height: 100%;
  }
}

@media (min-width: 1440px) {
  .footer {
    left: 320px;
    max-width: 1120px;
    top: 0;
    max-height: 100%;
  }
}


